{% extends "imam/base.html" %} {% block content %}
<h1>Internet Makes A Movie!</h1>
<p>
  Internet Makes A Movie is a site that's main focus is collaboration among
  fellow creatives. The idea is to put forth a story idea and allow anyone to
  submit a maximum of 5 pages to our site. From there we will allow other users
  to cast one vote on their favorite. (They can't vote for themselves.) The
  winner has their pages added to the script and a new round starts the
  following week. The goal is to get everyone writing and hopefully end with a
  full length screenplay, that is coherent and impressive. After the screenplay
  is finished the contributors will be contacted about production, while the
  next screenplay idea will start the following week. Once production begins
  each contributor will be given a team of actors as well as a small stipend to
  produce their contribution. After they finish, we hire an editor to put the
  film together and have a completed feature length film.
</p>

<br />
<br />
<br />
<br />
<br />
<a href="https://github.com/wdixon2186">Creator: William Dixon</a>
{% endblock %}
