{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Internet-Makes-A-Movie</title>
    <link rel="stylesheet" href="{% static 'css/imam.css' %}" />
  </head>

  <body>
    <h1>Internet Makes A Movie</h1>
    <nav>
      <a href="/">Scripts</a>
      <a href="/video">Videos</a>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
